body {
    background-color: rgba(255, 255, 255, 0.588);
}

main {
    margin: 0 auto;
    max-width: 600px;
    min-height: 600px;
}

header {
    height: 200px;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}

h1 {
    border-bottom: 4px double #ccc;
}

.figure {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.figure img {
    max-width: 100%;
    border: 8px solid #420303;
}

nav {
    background-color: #10183f;
    border-left: 4px solid #4F5B93;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

nav li {
    display: inline;
}

li a {
    display: block;
    padding: 0.2em 0.5em;
    color: #464040;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.514);
}

li a:hover {
    color: #EEE;
    background-color: #4F5B93;
}

.two-col-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.aside {
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 24px;
}

footer {
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    color: #ccc;
    padding: 0 1em;
}

.site-footer {
    opacity: 0.8;
}

footer .row {
    display: flex;
    flex-direction: row;
}

footer .row > .col3 {
    width: calc(100% / 3);
}

footer .row > .col1 {
    width: 100%;
}

footer a {
    color: #cccccc8a;
}

.final {
    text-align: right;
}


.magic {
    color: rgb(10, 85, 60);
    background: url("../images/ThefirstTree.png");
    background-size: cover;
}

.magic h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#8a99f0, #e70303);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maginumb {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/13/14/15/fantasy-2847724_1280.jpg");
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 200px;
    font-size: 120px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
                    helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}