{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om kursen</h1>
    <div class="two-col-layout">
        <main class="main">
            <article class="article">

                <img src="img/bullet-457334_640.jpg" width="600" class="logo" alt="Logga med text HTML, CSS, php, SQL">
                    <p>Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>
                    <p>Efter genomförd kurs skall studenten:
                    <br>kunna redogöra för utveckling med objektorienterad programmering och databaser i webbmiljö, genom att skriftligen beskriva och sammanfatta erfarenheter och observationer från övningar och projekt.</p>
                <p></p>
            </article>
        </main>

        <aside class="aside">
            <h4>Kursen Objektorienterade webbteknologier</h4>
            <p>a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP.</p>
            <p><a href="https://github.com/dbwebb-se/mvc/">Kursrepo på GitHub</a></p>
            <h4>Webbplatsen</h4>
            <p>På den här sidan publicerar jag redovisningar i kursen</p>
            <p><a href="https://github.com/Rubylicious1/mvc-report">Mitt repo för kursen</a></p>
        </aside>
    </div>
{% endblock %}
