{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Me</h1>
    <p>Hi, I'm Mr Skeletonpumpkinhead. Do you like playing games? I do!</p>
    <figure class="figure">
        <a href="{{ asset('img/pumpkins.png') }}">
        <img src="{{ asset('img/pumpkins.png') }}" alt="Pumpkins">
        </a>
    </figure>
    <p>I like to scare ghosthunters and pretend I'm dead when they look at me.</p>

    <img src="{{ asset('build/images/background.jpg') }}" alt="">
{% endblock %}
