{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<div class="magic">
    <h1>Magic number</h1>
    <p>Welcome to my awesome magical homepage.</p>
    <div class="lucky" style="background-image: url({{ asset('img/hacker.jpg') }})">
        <p class="maginumb">{{ number }}</p>
    </div>
</div>
{% endblock %}
